{%extends 'base.html' %}
{% load static %}
{% block title %} Interact with different demo of machine learning and deep learning {% endblock %}
{% block description %} Looking for a demo of interactive machine learning or deep learning? Check out NLP, CV, ML demos. With these demos, you can see how these two powerful technologies work together to provide a better user experience. {% endblock %}


{% block content %}
<div class="card text-center">
    <div class="card-header">
      Natural Language Processing
    </div>
    <div class="card-body">
      <h5 class="card-title">Sentiment Analysis</h5>
      <p class="card-text">Looking to harness the power of transformer models for sentiment analysis? Look no further! Our demo will make your interaction with transformer model to analyze text data and classify them as positive, negative or neutral. You'll be able to see how the model works in real-time and get a feel</p>
      <a href="{% url 'nlpdemo' %}" class="btn btn-primary">View Demo</a>
    </div>
    <div class="card-footer text-muted">
      #NLP #Transformers #BERT #SentimentAnalysis
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      Audio
    </div>
    <div class="card-body">
      <h5 class="card-title">Emotion Analysis</h5>
      <p class="card-text">Get a demo of the facebook wav2vec emotion analysis tool today! This powerful tool can help you understand the emotions of your customers and employees</p>
      <a href="{% url 'audiodemo' %}" class="btn btn-primary">View Demo</a>
    </div>
    <div class="card-footer text-muted">
      #NLP #Transformers #Wav2Vec #URDU
    </div>
  </div>
 

  {% endblock %} 