{%extends 'base.html' %}
{% load static %}
{% block title %} Talha Anwar | Machine Learning Engineer {% endblock %}
{% block description %} I am Talha Anwar, a data scientist, machine learning engineer with special interest in deep learning, computer vision and nlp {% endblock %}

{% block content %}
 
    <!-- Navbar Start -->
    {%include 'sections/navbar.html' %}    
    <!-- Navbar End -->

    <!-- Header Start -->
    {%include 'sections/header.html' %}    
    <!-- Header End -->

    <!-- About Start -->
    {%include 'sections/about.html' %}    
    <!-- About End -->

    <!-- Service Start -->
    <!-- {%include 'sections/services.html' %}     -->
    <!-- Service End -->


    {%include 'sections/expertise.html' %}    

    {%include 'sections/competitions.html' %}    

    <!-- --Projects started-- -->
    {%include 'sections/projects.html' %}    
    <!-- --Projects completed-- -->


    <!-- Blog start -->

    {%include 'sections/blog.html' %}

    <!-- Blog end -->

    <!-- Paper start -->

    {%include 'sections/papers.html' %}

    <!-- Paper end -->

    <!-- Testimonial Start -->
    <!-- {%include 'sections/testimonial.html' %}     -->
    <!-- Testimonial End -->


    <!-- Contact Start -->
    {%include 'sections/contact.html' %}
    <!-- Contact End -->


    <!-- Map Start -->
    <div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl pt-5 px-0">
            <div class="bg-dark">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3446.5824505387272!2d71.48377501483307!3d30.24898158180835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fa8bc22867a9593!2zMzDCsDE0JzU2LjMiTiA3McKwMjknMDkuNSJF!5e0!3m2!1sen!2s!4v1659187677411!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- Map End -->

{% endblock %}