{%extends 'base.html' %}
{% load static %}

{% block title %} Skin Cancer Diagnosis | Image Classification Demo {% endblock %}
{% block description %}  {% endblock %}


{% block content %}

<h2> Skin Cancer detection using Deep learning</h2>
<p>Skin cancer is the most common form of cancer, with more than three million cases diagnosed in the United States each year. Skin cancer can occur on any part of the body, but is most common on areas that are exposed to the sun, such as the face, neck, and arms.</p>

<p>There are three main types of skin cancer: basal cell carcinoma, squamous cell carcinoma, and melanoma. Basal cell carcinoma and squamous cell carcinoma are the most common types of skin cancer, and they are usually not life-threatening. Melanoma is the most dangerous type of skin cancer, and it can spread to other parts of the body if it is not caught early.</p>

<p>Deep learning can be used to diagnose different types of skin cancer. A deep learning algorithm can be trained to identify the different types of skin cancer based on images of the skin. This can be used to help doctors diagnose skin cancer, and to help people learn more about the different types of skin cancer.</p>

<center>
    <a href="https://skin-lesion-diagnosis.herokuapp.com/"
    <button class="btn btn-primary" type="submit">View Demo</button>
    </a>
</center>
{% endblock %}