
<div class="container-xxl py-6 pt-5" id="competitions">
  <div class="row align-items-center wow fadeInUp">
    <div>
        <h1 class="display-5 mb-0" style="padding-bottom: 40px;">Competitions Won</h1>
    </div>
      <div class="col-lg-3">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">UBL datathon</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-primary">
                              <span class="widget-49-date-day">1st</span>
                              <!-- <span class="widget-49-date-month">2022</span> -->
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">Multi-lingual signature verification</span>
                          </div>
                      </div>
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>Siamese Network</span></li>
                          <li class="widget-49-meeting-item"><span>Open Source</span></li>
                          <li class="widget-49-meeting-item"><span>Web-based app</span></li>
                      </ol>
                      <div class="widget-49-meeting-action">
                          <a href="http://piaic.herokuapp.com/" class="btn btn-sm btn-flash-border-primary">Visit website</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="col-lg-3">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">COVID Percentage Estimation</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-secondary">
                            <span class="widget-49-date-day">2nd</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">Propose ensemble approach for infection estimation via CT Scan</span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Novel Approach</span></li>
                        <li class="widget-49-meeting-item"><span>Paper Presented</span></li>
                        <li class="widget-49-meeting-item"><span>Open Source</span></li>
                    </ol>
                    <div class="widget-49-meeting-action">
                        <a href="https://github.com/faresbougourzi/Covid-19-Infection-Percentage-Estimation-Challenge" class="btn btn-sm btn-flash-border-primary">View Ranking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="col-lg-3">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Hate Speech Indentification</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-warning">
                              <span class="widget-49-date-day">4th</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">Profiling Hate Speech Spreaders on Twitter.</span>
                          </div>
                      </div>
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>User instead of tweet</span></li>
                          <li class="widget-49-meeting-item"><span>Tranformers features </span></li>
                          <li class="widget-49-meeting-item"><span>AutoMl for classification</span></li>
                      </ol>
                      <div class="widget-49-meeting-action">
                          <a href="https://pan.webis.de/clef21/pan21-web/author-profiling.html" class="btn btn-sm btn-flash-border-warning">View Ranking</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Covid Classification</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-success">
                              <span class="widget-49-date-day">5th</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">COVID Classification from 3D CT scans using autoML</span>
                          </div>
                      </div>
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>3D CT scan</span></li>
                          <li class="widget-49-meeting-item"><span>200 GB+ size</span></li>
                          <li class="widget-49-meeting-item"><span>AutoML</span></li>
                      </ol>
                      <div class="widget-49-meeting-action">
                          <a href="https://cpb-eu-w2.wpmucdn.com/blogs.lincoln.ac.uk/dist/c/6133/files/2022/03/iccv_cov19d_leaderboard.pdf" class="btn btn-sm btn-flash-border-success">View Ranking</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
  </div>
  
