<div class="container-xxl py-6 pt-5" id="paper">
    <div class="container">

        <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Papers Published</h1>
            </div>
            
            <!-- <div class="col-lg-6 text-lg-end">
                <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                    <li class="mx-3" style="font-size:20px" id="journal">Journal</li>
                    <li class="mx-3" style="font-size:20px" id="conference">Conference</li>
                </ul>
            </div> -->
        
            <!-- Accordion code -->
            
            <div class="accordion accordion-flush" id="accordionFlushExample">
              {% for paper in papers %}  
              <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                      {{ paper.title }}
                    </button>
                  </h2>
                  <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> {{ paper.abstract }}  <a href={{ paper.paper_url }}>Read full paper!!</a> </div>
                  </div>
              
                </div>
                {% endfor %}
              </div>
            

             
            <!-- Accordion code -->

        </div>
    </div>
</div> 