{% load static %}

<div class="container-fluid bg-light py-5 my-5" id="testimonial">
    <div class="container-fluid py-5">
        <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Testimonial</h1>
        <div class="row justify-content-center">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="testimonial-left h-100">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src='{% static "img/yeni.png" %}'alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src='{% static "img/muradyf.png" %}' alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src='{% static "img/iqra.png" %}'alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src='{% static "img/yeni.png" %}' alt="">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-5 fst-italic">As usual, he was polite and a professional. showed mastery of the subject area. I will recommend again and again. It was a pleasure working with him as always. </p>
                        <hr class="w-25 mx-auto">
                        <h5>yenitan1</h5>
                        <span>Nigeria</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src='{% static "img/muradyf.png" %}' alt="">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-5 fst-italic">Great and efficient freelancer. Extremely quick, professional and knowledgable in his field. Would highly recommend him.</p>
                        <hr class="w-25 mx-auto">
                        <h5>muradyf</h5>
                        <span>Pakistan</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src='{% static "img/iqra.png" %}' alt="">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-5 fst-italic">It was nice to work with Talha. He is professional with excellent skills and patience. Great communications and timeliness. Looking forward to working with him soon.</p>
                        <hr class="w-25 mx-auto">
                        <h5>Iqraameer134</h5>
                        <span>Canada</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="testimonial-right h-100">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src='{% static "img/yeni.png" %}'alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src='{% static "img/muradyf.png" %}' alt="">
                    <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src='{% static "img/iqra.png" %}' alt="">
                </div>
            </div>
        </div>
    </div>
</div>